%h1 Datenbank Verwaltung
%p
  Hier wird die DB verwaltet.
#wish_form{:style => "padding-left: 70px;"}
  %form{:action=>"/login",:method=>"post"}
    %div{:class => "login"}
      %div{:class => "login_label"}
        %label
          Benutzername:
      %div{:class => "login_input"}
        %input{:type => "text", :name => "username", :class => "clean_text_input"}
    %div{:class => "login"}
      %div{:class => "login_label"}
        %label
          Passwort:
      %div{:class => "login_input"}
        %input{:type => "text", :name => "passwort", :class => "clean_text_input"}
    #confirm
      %input{:type=>"Submit", :class=>"clean_input",:value=>"Send"}