:javascript
  $.datepicker.setDefaults( $.datepicker.regional[ "de" ] );
  $(function() {
    $( "#input_event_datum" ).datepicker({});
  });
  $(function() {
    $('#input_event_zeit, #input_dj_start_zeit, #input_dj_ende_zeit').timepicker({ 'minTime': '1:00', 'maxTime': '24:00', 'timeFormat': 'G:i', 'className': 'ui-timepicker'});
  });
%h1 Kontakt aufnehmen

#wish_form
  %form{ :action => "/kundendaten", :method => "post"}
    %fieldset{:class=>"contact_field"}
      #personal_frame
        #personal_frame_description
          Persönliche Daten
        %ul
          %li
            %div{:class=>"contact_box"}
              %div{:class=>"contact_label"}
                %label{:for => "name"} Name * :
              %div{:class=>"contact_input"}
                %input{:type => "text", :name => "name", :required => true}
          %li
            %div{:class=>"contact_box"}
              %div{:class=>"contact_label"}
                %label{:for => "email"} Email Adresse * :
              %div{:class=>"contact_input"}
                %input{:type => "email", :name => "email", :required => true}
          %li
            %div{:class=>"contact_box"}
              %div{:class=>"contact_label"}
                %label{:for => "tel"} Telefonnummer:
              %div{:class=>"contact_input"}
                %input{:type => "tel", :name => "tel", :required => false}
      #event_frame
        #event_frame_description
          Veranstaltungs-Daten      
        %ul
          %li
            %div{:class=>"contact_box"}
              %div{:class=>"contact_label"}
                %label{:for => "datum"} Veranstaltungs Datum * :
              %div{:class=>"contact_input"}
                %input{:type => "text", :name => "datum", :id => "input_event_datum", :required => true}
          %li
            %div{:class=>"contact_box"}
              %div{:class=>"contact_label"}
                %label{:for => "zeit"} Veranstaltungs Anfang:
              %div{:class=>"contact_input"}
                %input{:type => "text", :name => "zeit", :id => "input_event_zeit", :size => "6"}  &nbsp; Uhr
          %li
            %div{:class => "contact_box"}
              %div{:class => "contact_label"}
                %label{:for => "dj_start_time"} DJ soll auflegen von:
              %div{:class => "contact_input"}
                %input{:type => "text", :name => "dj_start_zeit", :id => "input_dj_start_zeit", :size => "6"}
                &nbsp;bis:&nbsp;&nbsp;
                %input{:type => "text", :name => "dj_start_zeit", :id => "input_dj_ende_zeit", :size => "6"}
          %li
            %div{:class=>"contact_box"}
              %div{:class=>"contact_label"}
                %label{:for => "strasse"} Veranstaltungs Ort, Straße:
              %div{:class=>"contact_input"}
                %input{:type => "text", :name => "strasse"}
          %li
            %div{:class=>"contact_box"}
              %div{:class=>"contact_label"}
                %label{:for => "stadt"} Veranstaltungs Ort Stadt:
              %div{:class=>"contact_input"}
                %input{:type => "text", :name => "stadt"}
                %input{:type => "text", :name => "plz"}
          %li
            %div{:class=>"contact_box"}
              %div{:class=>"contact_label"}
                %label{:for => "gaeste"} Anzahl Gäste:
              %div{:class=>"contact_input"}
                %input{:type => "number", :name => "anzahl", :value => "0"}
          %li
            %div{:class=>"contact_box"}
              %div{:class=>"contact_label"}
                %label{:for => "unter20"} Anzahl der Gäste unter 20 Jahren:
              %div{:class=>"contact_input"}
                %input{:type => "number", :name => "unter20", :value => "0"}
          %li
            %div{:class=>"contact_box"}
              %div{:class=>"contact_label"}
                %label{:for => "ueber60"} Anzahl der Gäste über 60 Jahren:
              %div{:class=>"contact_input"}
                %input{:type => "number", :name => "ueber60", :value => "0"}
          %li
            %div{:class=>"contact_box"}
              %div{:class=>"contact_label"}
                %label{:for => "equipment"} Equipment vorhanden:
              %div{:class=>"contact_input"}
                %input{:type => "checkbox", :name => "equipment"}
          %li
            %div{:class=>"contact_box"}
              %div{:class=>"contact_label"}
                %label{:for => "beratung"} Technik Beratung gewünscht:
              %div{:class=>"contact_input"}
                %input{:type => "checkbox", :name => "beratung"}
          %li
            %div{:class=>"contact_box"}
              %div{:class=>"contact_label"}
                %label{:for => "message"} Sonstiges:
              %div{:class=>"contact_input"}
                %textarea{:name => "message"}
      #confirm      
        %input{:type=>"Reset", :class=>"clean_input"}
        %input{:type => "submit", :class=>"clean_input", :value => "Send"}            