:javascript
  $(function() {
    $( ".help_icon" ).tooltip({ tooltipClass: "help_icon_tooltip" });
  });
%h1 Musikwahl  
%h2 Hintergrundmusik

%p{:style=>'text-align:justify'}
#wish_form
  %form{:action=>"/hintergrund",:method=>"post"} 
    %ul
      - @hintergr.each do |hinter|   
        %li
          #bg_group
            #bg_radio
              %input{:type=>"radio",:name=>"#{hinter}",:value=>"ok"}
            #bg_label
              %label #{hinter}
            #bg_image
              %img{:src => 'images/help.png', :class => 'help_icon', :title => "#{@descriptions[hinter]}"}
    #confirm
      %input{:type=>"Reset", :class=>"clean_input"}
      %input{:type=>"Submit", :class=>"clean_input",:value=>"Weiter"}
