%h1 Philosophie
%br

%p Bei Ihrer Veranstaltung übertragen Sie die Verantwortung der Musik zu jedem Zeitpunkt auf den DJ. Für uns DJ´s aus dem DJ Pool Köln ist es selbstverständlich, Sie und Ihre Gäste zu jedem Zeitpunkt mit dem richtigen Lied im richtigen Moment zu unterhalten.

%p Es gibt natürlich DJ´s, die „nur Ihre Musik spielen“, ständig „dazwischen quatschen“ oder perfekt im Club auflegen können (möglicherweise mit diesem oder jenem aber keinem anderem Genre), aber möchten Sie dies..?

%p Nur ein DJ mit mehrjähriger Erfahrung auf möglichst vielen verschiedenen Events (von der Studentenparty über Hochzeiten/Geburtstage/Karneval/Weihnachtsfeiern bis hin zu Großveranstaltungen) kann dies unserer Meinung nach gewährleisten. 

%p Ist es nicht beruhigender zu Wissen, das Ihr DJ den ganzen Abend Ihr persönlicher Ansprechpartner ist, auf die speziellen und individuellen Situationen eines Abends und natürlich die Wünsche eingeht und sogar hier und da mit Rat und Tat zur Seite steht?

%p Es gilt alle Menschen zu unterhalten! Die, die gern „zuschauen“ oder „dabei sind“ und natürlich die, die am Tanzreigen teilnehmen möchten. Dabei ist die richtige Musik zur richtigen Uhrzeit durchaus eine Leitplanke, an der man sich orientieren und die man im Vorfeld im persönlichem Gespräch schon abstimmen kann. 

%p Einige Punkte am Abend (Spiele, Reden, Durchsagen usw.) können die Tanzdynamik hier und da unterbrechen, so dass der DJ die Stimmung erneut aufbauen muss; das ist mit Abstand die größte Kunst eines DJ´s.

%p Vielleicht wundern Sie sich, dass der ein oder andere Genre nicht über den Fragebogen abgefragt wird (zum Beispiel ElectroSwing oder BalkanPop und noch vieles mehr). 
%p Selbstverständlich können Sie uns Ihre speziellen Wünsche und Fragen im Vorfeld über das Notizfeld zu kommen lassen und wir werden daraufhin den richtigen DJ für Sie finden.
