%h1 DJ Pool Köln  
%br
%p Hier können Sie Ihren DJ für Ihre Veranstaltung in und rund um Köln finden.

%p Wie finden Sie den richtigen DJ..? Genau, nur durch die genau zu Ihnen passende Musik!

%p Wenn man davon ausgeht, dass die guten DJ´s (mit oder ohne Musik- und Lichtanlage) preislich recht ähnlich liegen, bleibt als Entscheidungskriterium der souveräne Auftritt und Umgang mit den Menschen, die Hilfestellungen „drum herum“ und die passende Musik im richtigen Moment.

%p Dies ist mit jedem DJ des DJ Pool Köln gewährleistet, da die DJ´s nur unter der Voraussetzung in den Pool aufgenommen werden, wenn sie diese Kriterien als selbstverständlich erachten.

%p Alles schön und gut, aber… ist das teuer? Kurz & knapp: Ja, ist es! Wir sprechen hier ausschließlich von Profi-DJ´s mit professionellem Equipment.

%p Vorgehensweise

%p Auf dem nun folgendem Online-Fragebogen gewichten Sie Ihre Musikrichtungen passend zu Ihrer Veranstaltung. Dies erfolgt über die drei Bereiche Musik zum Hintergrund/Empfang; wir empfehlen mehrere Bereich hervorzuheben, damit es eine gute Mischung wird und nicht langweilig erscheint.
%p Nach Aktualität und Genre, wobei Sie beim Genrenamen Hilfestellungen für sich Nutzen können, wenn Ihnen die Begrifflichkeit nicht direkt etwas sagt.

%p Wichtig ist, dass Sie in jedem Bereich eine Präferenz setzen, da Sie sonst nicht auf die nächste Seite kommen!

%p Ergänzen Sie zuletzt den Fragenbogen um Ihre Kontaktdaten/Ihre Informationen/Ihre Wünsche und erhalten in Kürze eine konkrete DJ-Empfehlung, der an Ihrem Termin bisher könnte und mit dem Sie im Vorfeld Kontakt aufnehmen können. 
%p Dies stellt keine Buchung dar, sondern ist lediglich eine Empfehlung von uns für Sie und dies natürlich kostenfrei!!!

%p Vielen Dank und nun viel Spaß!

%p Hier geht´s zum Onlinefragebogen:

