#wrapper{  
    width: 800px;  
    margin:auto;  
}  
  
#header{  
    padding: 10px;
    border-bottom: 1px solid #ddd;  
}  
#icon {
    position: relative;
    top: 10px;
    right: 10px;
    float: right;
} 
#icon img {
    width: 95px;
} 
#header>h1{  
    font-size:200%;
    margin-bottom: 0px;
}
#header p {
    padding-left: 40px;
    color: #aab;
    font-size: small;
    margin-top: 0px;
    margin-bottom: 0.2em;
}

#content>h1{  
    font-size:150%;  
    font-family:sans-serif;  
}    

h2{  
    font-size:130%;  
    font-family:sans-serif;
    font-weight: normal;
    margin-bottom: 0px;
    text-align: right;  
}

h3{  
    font-size:110%;  
    font-family:sans-serif;  
}  
#main {
    width: 800px;
    height: 424px;
}  
#content{  
    margin:12px 0px;
    width: 580px;
    min-height: 400px;
    float:left;  
    padding-left: 19px;
}  
  
#sidebar{  
    margin:12px 0px;  
    width: 200px;
    min-height: 400px;  
    float:left;  
    border-right: 1px solid #ccc;  
}  
  
h1{  
    font-size:150%;  
}  
  
#footer{  
    clear:both;
    padding-top: 10px;  
    font-size: x-small;  
    font-family:sans-serif;  
    color: #aab;  
    border-top:solid 1px #ddd;  
    text-align: center;
}  

#footer p {
    margin: 0px;
}
  
#sidebar ul{  
    padding-top:10px; 
    list-style: none;   
}  

#sidebar li{  
    padding-top: 10px;
    color:#aab;  
    text-align:center;
    font-size: small;  
}
#content ul {
    margin-top: 20px;
    list-style: none;
    padding: 0px;
}
#content li {
    line-height: 2em;
}
.content_field textarea {
    width: 510px;
    height: 100px;
    resize: none;
}

#confirm {
    padding-top: 40px;
    padding-left: 350px;
}

#wish_form {
    margin-top: 0px;
    padding: 20px;
    border: 1px solid #ddd;
    box-shadow: 5px 5px 3px #dfdfdf;
    border-radius: 5px;
    font-size: 85%;
    font-family: sans-serif;
}
#bg_group {
    clear: both;
    margin-left: 50px;
}
#bg_radio {
    width: 20;
    height: 2em;
    float: left;
    vertical-align: middle;
    padding-top: 5px;
}
#bg_label {
    width: 8em;
    height: 2em;
    float: left;
    padding-left: 5px;
    padding-bottom: 5px;
}
#bg_image {
    width: 20px;
    height: 2em;
    float: left;
    vertical-align: middle;
    padding-top: 5px;
}
.help_icon {
    width: 16px;
    vertical-align: middle;
    position: relative;
}
.help_icon_tooltip {
    font-size: 80%;
}
.musik_zeit_label {
    width: 16em;
    float: left;
}
.musik_zeit_opts {
    float: left;
}
.survey_table{
    width: 100%;
}
.survey_table td:first-child {
    width: 10em;
    text-align: left;
}
.survey_table th{
    text-align: center;
    width: 7em;
    line-height: 1.5em;
    background-color: #ddd;
}
/* .survey_table tr:nth-child(odd) {
    background-color:#eee;
}*/
.survey_table tr:nth-child(even) {
    background-color:#eee;
}
.survey_table td {
    text-align: center;
    line-height: 2em;
    vertical-align: middle;
}
#personal_frame {
    border: 1px solid lightgrey;
    padding: 5px;
    height: 8em;
}
#personal_frame_description {
    position: relative;
    font-size: small;
    background-color: #fff;
    top: -1em;
    left: 1.5em;
    width: 10em;
    height: 1.5em;
    text-align: center;
    border: 1px solid lightgrey;
    color: darkgray;
}
#personal_frame ul {
    margin-left: 2em;
    margin-top: 0px;
}
#event_frame {
    border: 1px solid lightgrey;
    padding: 5px;
    height: 34em;
    margin-top: 2em;  
}
#event_frame_description {
    position: relative;
    font-size: small;
    background-color: #fff;
    top: -1em;
    left: 1.5em;
    width: 15em;
    height: 1.5em;
    text-align: center;
    border: 1px solid lightgrey;
    color: darkgray;
}
#event_frame ul {
    margin-left: 2em;
    margin-top: 0px;
}
.ui-datepicker {
    font-size: 80%;
}
.ui-timepicker {
    font-size: 80%;
}
.contact_field {
    border: none;
    padding: 0px;
}
.contact_field textarea {
    width: 490px;
    height: 100px;
    resize: none;
}
.contact_box {
    clear: both;
}
.contact_label {
    width: 18em;
    float: left;
}
.contact_input {
    float: left;
}
.contact_input input {
    font-size: 1em;
    border: 1px solid silver;
    border-radius: 3px;
    background: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#ffffff));  
    background: -moz-linear-gradient(top,  #eee,  #ffffff);  
}
.contact_input textarea {
    font-size: 1em;
    border: 1px solid silver;
    border-radius: 3px;
    background: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#ffffff));  
    background: -moz-linear-gradient(top,  #eee,  #ffffff);  
}
.clean_input {
    border: 1px solid #ddd;
    border-radius: 3px;
    padding: 3px;
    font-weight: bold;
    font-family: sans-serif;
    font-size: 75%;  
}
  
a{  
    text-decoration:none;  
} 
.login {
    margin-bottom: 10px;
}
.login_label {
    float: left;
    width: 10em;
    font-weight: bold;
    font-family: sans-serif;
}
.abschluss_text {
    margin-top: 4em;
}
.abschluss_confirm {
    font-weight: normal;
    font-size: 150%;
}
.abschluss_email {
    color: darkblue;
    font-weight: bold;
}
.abschluss_greeting {
    margin-top: 4em;
}
.abschluss_djhey {
    position: relative;
    bottom: 100px;
    right: 0px;
    float: right;
}
.abschluss_djhey img {
    width: 400px;
}