#wrapper{  
    width: 800px;  
    margin:auto;  
}  
  
#header{  
    padding: 10px;
    border-bottom: 1px solid #ddd;  
}  
#icon {
    position: relative;
    top: 10px;
    right: 10px;
    float: right;
} 
#icon img {
    width: 100px;
} 
#header>h1{  
    font-size:200%;
    margin-bottom: 0px;
}
#header p {
    padding-left: 40px;
    color: #aab;
    font-size: small;
    margin-top: 0px;
    margin-bottom: 0.2em;
}

#content>h1{  
    font-size:150%;  
    font-family:sans-serif;  
}    

h2{  
    font-size:130%;  
    font-family:sans-serif;
    font-weight: normal;
    margin-bottom: 0px;
    text-align: right;  
}

h3{  
    font-size:110%;  
    font-family:sans-serif;  
}  
#main {
    width: 800px;
    height: 424px;
}  
#content{  
    margin:12px 0px;
    width: 580px;
    min-height: 400px;
    float:left;  
    padding-left: 19px;
}  
  
#sidebar{  
    margin:12px 0px;  
    width: 200px;
    min-height: 400px;  
    float:left;  
    border-right: 1px solid #ccc;  
}  
  
h1{  
    font-size:150%;  
}  
  
#footer{  
    clear:both;
    padding-top: 10px;  
    font-size: x-small;  
    font-family:sans-serif;  
    color: #aab;  
    border-top:solid 1px #ddd;  
    text-align: center;
}  

#footer p {
    margin: 0px;
}
  
#sidebar ul{  
    padding-top:10px; 
    list-style: none;   
}  

#sidebar li{  
    padding-top: 10px;
    color:#aab;  
    text-align:center;
    font-size: small;  
}
#content ul {
    margin-top: 20px;
    list-style: none;
    padding: 0px;
}
#content li {
    line-height: 2em;
}
.content_field textarea {
    width: 510px;
    height: 100px;
    resize: none;
}

#confirm {
    padding-top: 40px;
    padding-left: 350px;
}

#wish_form {
    margin-top: 0px;
    padding: 20px;
    border: 1px solid #ddd;
    box-shadow: 5px 5px 3px #dfdfdf;
    border-radius: 5px;
    font-size: 85%;
    font-family: sans-serif;
}
.musik_zeit_label {
    width: 16em;
    float: left;
}
.musik_zeit_opts {
    float: left;
}
.survey_table td:first-child {
    width: 10em;
    text-align: left;
}
.survey_table th{
    text-align: center;
    width: 7em;
    line-height: 1.5em;
    background-color: #ddd;
}
/* .survey_table tr:nth-child(odd) {
    background-color:#eee;
}*/
.survey_table tr:nth-child(even) {
    background-color:#eee;
}
.survey_table td {
    text-align: center;
    line-height: 2em;
    vertical-align: middle;
}
.contact_box {
    clear: both;
}
.contact_label {
    width: 18em;
    float: left;
}
.contact_input {
    float: left;
}
.clean_input {
    border: 1px solid #ddd;
    border-radius: 3px;
    padding: 3px;
    font-weight: bold;
    font-family: sans-serif;
    font-size: 75%;  
}
  
a{  
    text-decoration:none;  
} 
.login {
    margin-bottom: 10px;
}
.login_label {
    float: left;
    width: 10em;
    font-weight: bold;
    font-family: sans-serif;
}