%h1 Ihre Musikwahl ist abgeschlossen!
%br  
%p
  Vielen Dank für Ihre Anfrage. Sie werden in Kürze von dem zu Ihnen passenden DJ per EMail kontaktiert.
%br
%br
%p  Viele Grüße vom
%p  DJ-Pool-Team Köln
