%h1 Musikwahl  
%br
%h2 Hintergrundmusik

%p{:style=>'text-align:justify'}
#wish_form
  %form{:action=>"/hintergrund",:method=>"post"} 
    %ul
      - @hintergr.each do |hinter|   
        %li
          %input{:type=>"radio",:name=>"#{hinter}",:value=>"ok"}
          %label #{hinter} 

    %input{:type=>"radio",:name=>"sonstiges",:value=>"ok"}
    %lable Sonstiges:            
    %input{:type=>"text",:name=>"hintergrundwunsch"}

    #confirm
      %input{:type=>"Reset", :class=>"clean_input"}
      %input{:type=>"Submit", :class=>"clean_input",:value=>"Weiter"}