!!!  
%html  
  %head  
    %title WishMeMusic
    %link(rel="stylesheet" href="css/reset-min.css")  
    %link(rel="stylesheet" href="css/styles.css")
  %body  
    #wrapper  
      #header  
        %h1 DJ Pool Köln
        %p
          hier spielt die music              
      #main
        #sidebar  
          %ul  
            %li 
              %a(href="/")
                %img(src="images/home.png")
                %br
                Home
            %li 
              %a(href="philosophie")
                %img(src="images/philosophie.png")  
                %br
                Philosophie
            %li
              %a(href="hintergrund")
                %img(src="images/wishmemusic.png")
                %br  
                Einen DJ suchen
            %li 
              %a(href="referenzen")
                %img(src="images/referenzen.png")
                %br
                Referenzen    
            %li 
              %a(href="admin")
                %img(src="images/login.png")  
                %br
                Login    
        #content 
          =yield
       
      #footer  
        %p  
          Copyright by vicorz (C) 2013 - Icons by http://dryicons.com
