!!!  
%html  
  %head  
    %meta{'http-equiv' => "Content-Type", :content => "text/html; charset=UTF-8"}
    %title WishMeMusic 
    %link(rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css")
    %link(rel="stylesheet" href="css/styles.css")
    %script(type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.js")
    %script(type="text/javascript" src="http://code.jquery.com/ui/1.10.3/jquery-ui.js")
    %script(type="text/javascript" src="js/jquery.ui.datepicker-de.js")
    -# https://github.com/jonthornton/jquery-timepicker
    %script(type="text/javascript" src="js/jquery.timepicker.min.js")
    %link(rel="stylesheet" href="css/jquery.timepicker.css")
  %body  
    #wrapper  
      #header
        %div(id='icon')
          %img(src='images/dj_pool_cologne_logo.jpg')  
        %h1 DJ Pool Köln
        %p
          hier spielt die music              
      #main
        #sidebar  
          %ul  
            %li 
              %a(href="/")
                %img(src="images/home.png")
                %br
                Home
            %li 
              %a(href="philosophie")
                %img(src="images/philosophie.png")  
                %br
                Philosophie
            %li
              %a(href="hintergrund")
                %img(src="images/wishmemusic.png")
                %br  
                Einen DJ finden
            %li 
              %a(href="referenzen")
                %img(src="images/referenzen.png")
                %br
                Referenzen    
            -# %li 
            -#   %a(href="admin")
            -#   %img(src="images/login.png")  
            -#   %br
            -#   Login    
        #content 
          =yield
       
      #footer  
        %p  
          Copyright by vicorz (C) 2013 - Icons by http://dryicons.com
