%h1 Musikwahl  
%br
%h2 Musik Genre

#wish_form
  %form{:action=>"/tanzmusik_genre",:method=>"post"}
    %table{:class => "survey_table"}
      %thead
        %tr
          %th
          - %W(Super Gut Gehtso Nichtso).each do |a|
            %th
              #{a}
      %tbody
        - @genres.each do |genre|
          %tr
            %td
              #{genre}
            - %W(Super Gut Gehtso Nichtso).each do |a|
              %td
                %input{:type=>"radio",:name=>"#{genre}",:value=>"#{a}"} 

    #confirm
      %input{:type=>"Reset", :class=>"clean_input"}
      %input{:type=>"Submit", :class=>"clean_input",:value=>"Weiter"}