%h1 Musikwahl  
%br
%h2 Musik Genre

#wish_form
  %form{:action=>"/tanzmusik_genre",:method=>"post"}
    %ul
      - @genres.each do |genre|
        %li
          %div{:class=>"musik_zeit_opts_box"}
            %div{:class=>"musik_zeit_label"}
              #{genre}
            %div{:class=>"musik_zeit_opts"}
            - %W(Super Gut Gehtso Nichtso).each do |a|
              %input{:type=>"radio",:name=>"#{genre}",:value=>"#{a}"} 
                %label #{a}
    #confirm
      %input{:type=>"Reset", :class=>"clean_input"}
      %input{:type=>"Submit", :class=>"clean_input",:value=>"Weiter"}