%h1 Musikwahl
%br
%h2 Musik Zeit
%br
%form{:action=>"/tanzmusik_zeit",:method=>"post"}
  - @times.each do |time|
    %h3 #{time}
    %ol
      - %W(Super Gut Gehtso Nichtso).each do |a|
        %input{:type=>"radio",:name=>"#{time}",:value=>"#{a}"} "#{a}" 
      %br
      %br
    %br
  %input{:type=>"Reset"}
  %input{:type=>"Submit",:value=>"Send"}